<form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
  <div class="card-body">
    <h2 class="">{{ formType }} User</h2>
    <p>System user form</p>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> First Name</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Enter First Name"
            formControlName="firstName"
          />
          <span
            *ngIf="
              !userForm.get('firstName')?.valid &&
              userForm.get('firstName')?.touched
            "
            class="text-danger"
            >First Name is required</span
          >
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label"
            ><sup>*</sup> Last Name</label
          >
          <input
            id="lastName"
            type="text"
            class="form-control"
            placeholder="Enter Last Name"
            formControlName="lastName"
          />
          <span
            *ngIf="
              !userForm.get('lastName')?.valid &&
              userForm.get('lastName')?.touched
            "
            class="text-danger"
            >Last Name is required</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Email</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
          />
          <span
            *ngIf="
              !userForm.get('email')?.valid && userForm.get('email')?.touched
            "
            class="text-danger"
            >Email is required</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Phone</label
          >
          <input
            type="string"
            class="form-control"
            placeholder="Enter Phone number"
            formControlName="phone"
          />
          <span
            *ngIf="
              !userForm.get('phone')?.valid && userForm.get('phone')?.touched
            "
            class="text-danger"
            >Phone number is required</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Username</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Enter Username"
            formControlName="username"
          />
          <span
            *ngIf="
              !userForm.get('username')?.valid &&
              userForm.get('username')?.touched
            "
            class="text-danger"
            >Username is required</span
          >
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Password</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Enter Password"
            formControlName="password"
          />
          <span
            *ngIf="
              !userForm.get('password')?.valid &&
              userForm.get('password')?.touched
            "
            class="text-danger"
            >Password is required</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Role</label
          >
          <select
            class="form-select form-select-md mb-3"
            aria-label=".form-select-lg example"
            formControlName="role"
            (change)="changeRole($event)"
          >
            <option value="">Select Role</option>
            <option *ngFor="let role of getRoles()" [ngValue]="role">
              {{ role }}
            </option>
          </select>
          <span
            *ngIf="
              !userForm.get('role')?.valid && userForm.get('role')?.touched
            "
            class="text-danger"
            >Role is required</span
          >
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><sup>*</sup> Gender</label
          >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="male"
              value="male"
              formControlName="gender"
            />
            <label class="form-check-label" for="male"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="female"
              formControlName="gender"
              value="female"
              checked
            />
            <label class="form-check-label" for="female"> Female </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 align-self-end">
        <button class="btn btn-info" type="submit" [disabled]="!userForm.valid">
          <span
            *ngIf="isLoading"
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="isLoading">&nbsp; Loading...</span>

          <i *ngIf="!isLoading" class="bi bi-save"></i>
          <span *ngIf="!isLoading"> Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
