<app-multi-file-uploader (onDropFiles)="handleFiles($event)"></app-multi-file-uploader>

<h5>Uploaded images</h5>
<div class="uploaded-image-wrapper">
  <div class="row">
    <div class="col-sm-12" *ngIf="!files.length">
      <p class="text-center">No Images</p>
    </div>
    <div class="col-sm-2" *ngFor="let img of files">
      <div class="uploaded-image-wrapper-single">
        <img class="uploaded-image" src="http://localhost:4100{{ img.resourcePath }}" alt="" />
        <button class="delete-btn" (click)="onDelete(img)">Delete</button>
      </div>
    </div>
  </div>
</div>
