<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="card-body">
    <h2 class="">Agency</h2>
    <p>System agency form</p>

    <ngb-alert *ngIf="errors.length > 0" [type]="'danger'" [dismissible]="true" class="customize-alert fs-5">
      <div *ngFor="let error of errors">{{ error.field }} : {{ error.message }}</div>
    </ngb-alert>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label class="form-label"><sup class="required">*</sup> Name </label>
          <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
          <span class="required" *ngIf="isValid('name')">Name is required</span>
        </div>
        <div class="mb-3">
          <label class="form-label"><sup class="required">*</sup> Description </label>
          <input type="text" class="form-control" placeholder="Enter Name" formControlName="description" />
          <span class="required" *ngIf="isValid('description')">Description is required</span>
        </div>

        <div class="mb-3">
          <label class="form-label"><sup class="required">*</sup> slug </label>
          <input type="text" class="form-control" placeholder="Enter Slug" formControlName="slug" />
          <span class="required" *ngIf="isValid('slug')">Slug is required</span>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><sup class="required">*</sup> Is Active </label>
          <div class="form-check form-switch">
            <input class="form-check-input cursor-pointer" type="checkbox" formControlName="isActive" />
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><sup class="required">*</sup> Is Black Listed </label>
          <div class="form-check form-switch">
            <input class="form-check-input cursor-pointer" type="checkbox" formControlName="isBlacklisted" />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <div class="image-container" style="max-height: 200px; overflow: hidden">
                <img id="frame" width="100%" [src]="imageSrc" class="image" alt="avatar" />
              </div>
              <br />
              <label for="featured-image" class="form-label"><sup class="required">*</sup> Upload Featured Image </label>
              <input id="featured-image" type="file" class="form-control" placeholder="Enter Featured Image" (change)="onFileChange($event, 'image')" />
              <span class="required" *ngIf="isValid('featuredImage')">Cover Image is required</span>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <div class="image-container" style="max-height: 200px; overflow: hidden">
                <img id="frame" width="100%" [src]="coverImageSrc" class="image" alt="avatar" />
              </div>
              <br />
              <label for="featured-image" class="form-label"><sup class="required">*</sup> Upload Cover Image </label>
              <input id="featured-image" type="file" class="form-control" placeholder="Enter Cover Image" (change)="onFileChange($event, 'coverImage')" />
              <span class="required" *ngIf="isValid('featuredImage')">Featured Image is required</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-12 align-self-end">
        <button class="btn btn-info" type="submit">
          <i class="bi bi-save"></i>
          <span> Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
