<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tour</h4>
          <h5 class="card-subtitle text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            laboriosam doloremque minus illo odit harum provident
          </h5>
  
          <a routerLink="/tour/create" class="btn btn-info"
            ><i class="bi bi-people"></i> Add Tour</a
          >
       
        </div>
      </div>
    </div>
  </div>
  