<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="card-body">
    <h2 class="">Tour</h2>
    <p>Create your amazing Tour</p>

    <ngb-alert *ngIf="errors.length > 0" [type]="'danger'" [dismissible]="true" class="customize-alert fs-5">
      <div *ngFor="let error of errors">{{ error.field }} : {{ error.message }}</div>
    </ngb-alert>

    <nav>
      <div class="nav nav-tabs" id="language-tab" role="tablist">
        <button class="nav-link" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
        <button class="nav-link" id="nav-editors-tab" data-bs-toggle="tab" data-bs-target="#nav-editors" type="button" role="tab" aria-controls="nav-editors" aria-selected="false">Information</button>
        <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-images" aria-selected="false">Images</button>
        <button class="nav-link active" id="nav-itinerary-tab" data-bs-toggle="tab" data-bs-target="#nav-itinerary" type="button" role="tab" aria-controls="nav-itinerary" aria-selected="false">Itinerary</button>
      </div>
    </nav>
    <br />
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <div class="image-container">
                <img id="frame" width="100%" [src]="imageSrc" class="image" alt="avatar" />
              </div>
              <br />
              <label for="exampleFormControlInput1" class="form-label"><sup style="color: red">*</sup> Upload Featured Image </label>
              <input type="file" class="form-control" placeholder="Enter Image" (change)="onFileChange($event)" />
              <span style="color: red" *ngIf="!form.get('image')?.valid && form.get('image')?.touched">image is required</span>
            </div>
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Start Date </label>

              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Select</button>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> End Date </label>

              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Select</button>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check form-switch">
                <input id="active-input" class="form-check-input cursor-pointer" type="checkbox" formControlName="isActive" />
                <label for="active-input" class="form-label"><sup style="color: red">*</sup> Is Draft </label>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check form-switch">
                <label for="active-input" class="form-label"><sup style="color: red">*</sup> Is Custom Tour </label>
                <input id="active-input" class="form-check-input cursor-pointer" type="checkbox" formControlName="isActive" />
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check form-switch">
                <label for="active-input" class="form-label"><sup style="color: red">*</sup> Is Active </label>
                <input id="active-input" class="form-check-input cursor-pointer" type="checkbox" formControlName="isActive" />
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Name </label>
              <input id="name-input" type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
              <span style="color: red" *ngIf="!form.get('name')?.valid && form.get('name')?.touched">Name is required</span>
            </div>

            <div class="mb-3">
              <label for="overview-input" class="form-label"><sup style="color: red">*</sup> Overview </label>
              <input id="overview-input" type="text" class="form-control" placeholder="Enter Overview" formControlName="overview" />
              <span style="color: red" *ngIf="!form.get('overview')?.valid && form.get('overview')?.touched">Overview is required</span>
            </div>

            <div class="mb-3">
              <label for="highlights-input" class="form-label"><sup style="color: red">*</sup> Highlights </label>
              <input id="highlights-input" type="text" class="form-control" placeholder="Enter Highlights" formControlName="highlights" />
              <span style="color: red" *ngIf="!form.get('highlights')?.valid && form.get('highlights')?.touched">Highlights is required</span>
            </div>

            <div class="mb-3">
              <label for="languages-input" class="form-label"><sup style="color: red">*</sup> Languages </label>
              <input id="languages-input" type="text" class="form-control" placeholder="Enter Languages" formControlName="languages" />
              <span style="color: red" *ngIf="!form.get('languages')?.valid && form.get('languages')?.touched">Languages is required</span>
            </div>

            <div class="mb-3">
              <label for="departure_details-input" class="form-label"><sup style="color: red">*</sup> Departure Details </label>
              <input id="departure_details-input" type="text" class="form-control" placeholder="Enter Departure Details" formControlName="departure_details" />
              <span style="color: red" *ngIf="!form.get('departure_details')?.valid && form.get('departure_details')?.touched">Departure Details is required</span>
            </div>

            <div class="mb-3">
              <label for="duration-input" class="form-label"><sup style="color: red">*</sup> Duration </label>
              <input id="duration-input" type="text" class="form-control" placeholder="Enter Duration" formControlName="duration" />
              <span style="color: red" *ngIf="!form.get('duration')?.valid && form.get('duration')?.touched">Duration is required</span>
            </div>

            <div class="mb-3">
              <label for="slug-input" class="form-label"><sup style="color: red">*</sup> slug </label>
              <input id="slug-input" type="text" class="form-control" placeholder="Enter slug" formControlName="slug" />
              <span style="color: red" *ngIf="!form.get('duration')?.valid && form.get('slug')?.touched">slug is required</span>
            </div>
            <div class="mb-3">
              <label for="basePrice-input" class="form-label"><sup style="color: red">*</sup> basePrice </label>
              <input id="basePrice-input" type="text" class="form-control" placeholder="Enter basePrice" formControlName="slug" />
              <span style="color: red" *ngIf="!form.get('basePrice')?.valid && form.get('basePrice')?.touched">basePrice is required</span>
            </div>
            <div class="mb-3">
              <label for="around_location-input" class="form-label"><sup style="color: red">*</sup> Pickup (Around Location)</label>
              <input id="around_location-input" type="text" class="form-control" placeholder="Enter Value" formControlName="around_location" />
              <span style="color: red" *ngIf="!form.get('around_location')?.valid && form.get('around_location')?.touched">Around Location is required</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Agency </label>

              <select class="form-select" aria-label="Default select example">
                <option selected>Select Agency</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Category </label>

              <select class="form-select" aria-label="Default select example">
                <option selected>Select Category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Pickup Location </label>

              <select class="form-select" aria-label="Default select example">
                <option selected>Select Location</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="name-input" class="form-label"><sup style="color: red">*</sup> Recurring Type </label>

              <select class="form-select" aria-label="Default select example">
                <option selected>Select Recurring Type</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 align-self-end">
            <button class="btn btn-info" type="submit">
              <i class="bi bi-save"></i>
              <span> Save</span>
            </button>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-editors" role="tabpanel" aria-labelledby="nav-editors-tab">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> Overview </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'overview')" [modules]="modules"> </quill-editor>
            </div>
            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> Requirements </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'requirements')" [modules]="modules"> </quill-editor>
            </div>
            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> Cancellation Policy </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'cancellation_policy')" [modules]="modules"> </quill-editor>
            </div>
            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> What is Included ? </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'included')" [modules]="modules"> </quill-editor>
            </div>
            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> What is Excluded ? </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'excluded')" [modules]="modules"> </quill-editor>
            </div>

            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> Know Before </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'know_before')" [modules]="modules"> </quill-editor>
            </div>

            <div class="mb-3">
              <label class="form-label"><sup style="color: red">*</sup> Additional Information </label>
              <quill-editor [styles]="{ height: '150px' }" (onContentChanged)="onContentChanged($event, 'additional_info')" [modules]="modules"> </quill-editor>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
        <app-file-upload></app-file-upload>
      </div>
      <div class="tab-pane fade show active" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab">
        <app-tour-itinerary></app-tour-itinerary>
      </div>
    </div>
  </div>
</form>
